---
import logo from "public/images/logo.png"
import {Image} from "astro:assets";
import { LinkedinIcon, TwitterIcon } from "astro-feather";
---

<section >
  <div class="px-8 flex flex-col md:flex-row gap-10 md:px-12 mx-auto pb-8 lg:pb-12 max-w-7xl lg:px-32 items-center lg:pt-12">
    <div class="basis-1/2">
      <Image src={logo} loading="eager" alt="Guy programming in front of a dutch landscape."
             widths={[240, 540, 720, logo.width]}
             sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${logo.width}px`}
      />
    </div>
    <div class="lg:text-center basis-1/2">
      <h1 class="text-4xl tracking-tight text-balance font-medium font-display text-black md:text-6xl">
        Hi! 👋
      </h1>
      <p class="mt-6 lg:mt-10 text-xl lg:text-2xl">I'm Jonne, a Software Engineer in the Netherlands. I write about Composable Architecture, Headless and all things related to Software Development.</p>
      <div class="flex gap-6 justify-center mt-8">
          <a href="https://nl.linkedin.com/pub/jonne-kats/1/842/987">
            <LinkedinIcon size="32" stroke="#0284c7"/>
          </a>
        <div>
          <a href="https://twitter.com/intent/follow?screen_name=jonnekats">
            <TwitterIcon size="32" stroke="#0284c7"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
