---
// Import the <Image /> component
import { Image } from "astro:assets"
// Import a reference to the image itself
import logo from "public/images/logo.png"
const { showTitle } = Astro.props;
---

<div
  class=" "

>
  <div class=" px-8 md:px-12 mx-auto max-w-7xl py-6  lg:px-32 text-xs">
    <div
      class="flex items-center justify-around"
    >
      {showTitle && <div
        class="flex items-center justify-between md:justify-start"
      >
        <a
          class="text-black hover:text-zinc-500 items-center font-normal  gap-3 flex flex-col "
          href="/"
        >
          <Image src={logo} alt="Guy programming in front of a dutch landscape." loading="eager" class="w-32 h-32 rounded-full"  />
          <span class="text-3xl font-bold font-display">Jonne Kats</span>
        </a>
      </div> }
    </div>

  </div>
</div>
